apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: "http://host.docker.internal:3200"
    basicAuth: false
    isDefault: true
    version: 1
    editable: true
